# Ignore node_modules directory
node_modules/

# Ignore logs and any log files
logs/
*.log

# Ignore environment configuration
.env

# Ignore built output
dist/

# Ignore any temporary files
*.swp
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn.lock file
yarn.lock

# Ignore system files from macOS
.DS_Store

# Ignore Visual Studio Code configuration folder
.vscode/

# Ignore project specific config file
*.iml
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries
*.idea/vcs.xml
*.idea/jsLibraryMappings.xml
